<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Shopping Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <h3>Total: ${{ totalPrice }}</h3>
    </ion-list-header>
    <ion-item *ngFor="let item of shoppingCartItems">

      <ion-label>{{ item.name }}</ion-label>

      <ion-buttons slot="end">
        <span slot="start">${{ item.price }}</span>
        <ion-button small color="danger" shape="round" (click)="removeOneFromItemCount(item)">
          <ion-icon name="remove-circle"></ion-icon>
        </ion-button>
        <span>{{ item.count }}</span>
        <ion-button small color="success" shape="round" (click)="addOneToItemCount(item)">
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark" (click)="onDoneClicked()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
