<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/catalog"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ categoryName }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/shopping-cart']">
        <ion-icon name="cart" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items" [routerLink]="['/item-detail/', item.docId]">
      <ion-avatar slot="start">
        <ion-img [src]="item.imgUrl"></ion-img>
      </ion-avatar>
        <span>{{ item.name }}</span>
        <span slot="end">{{ item.price }}</span>
        <ion-button color="success" slot="end" (click)="addOneToItemCount(item)">
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
