<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/catalog"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ categoryName }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/shopping-cart']">
        <ion-icon name="cart" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-grid class="ion-no-padding">
      <ion-row *ngFor="let item of products">
        <ion-col class="ion-no-padding" size="10" (click)="goToItemDetail(item)">
          <ion-item [button]="true">
            <ion-avatar slot="start">
              <ion-img [src]="item.imgUrl"></ion-img>
            </ion-avatar>
            <span>{{ item.name }}</span>
            <span slot="end">${{ item.price }}</span>
          </ion-item>
        </ion-col>
        <ion-col size="2" class="d-flex justify-content-center align-items-center">
          <ion-button expand="block" color="success" (click)="addOneToItemCount(item)">
            <ion-icon name="add-circle"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
