<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Catalog</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/shopping-cart']">
        <ion-icon name="cart" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let category of categories"
              [button]="true"
              (click)="onCategoryClick(category)">
      <ion-avatar slot="start">
        <ion-img [src]="category.imgUrl"></ion-img>
      </ion-avatar>
      <ion-label>
        {{ category.name }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
