<ion-header>
    <ion-toolbar color="tertiary">
        <ion-title>Catalog</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let category of categories"
                  [button]="true"
                  (click)="onCategoryClick(category.name, category.itemsRef)">
            <ion-avatar slot="start">
                <ion-img [src]="category.imgUrl"></ion-img>
            </ion-avatar>
            <ion-label>
                {{ category.name }}
            </ion-label>
        </ion-item>
    </ion-list>

    <p *ngIf="info">Yeah</p>
</ion-content>
