<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Menus</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-item *ngFor="let selector of menuOptionsList; let i = index">
    <ion-label>{{ selector.label }}</ion-label>
    <ion-select [(ngModel)]="selectedOptions[i]">
      <ion-select-option *ngFor="let product of selector.options"
                         [value]="product">{{ product.name }}</ion-select-option>
    </ion-select>
  </ion-item>


  <p *ngFor="let option of selectedOptions">{{ option.name }}</p>

</ion-content>
